* {
  margin: 0;
  padding: 0;
  font-family: lexend, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #817b7b76;
}

.navbar ul{
  list-style-type: none;
  display: flex;
}

.navbar ul li {
  border-right: 2px solid black;
  padding: 0px 10px;
  margin: 10px 0px;
}

.navbar ul li:last-child {
  border-right: none;
}

.navbar a {
  display: block;
  text-decoration: none;
  color:black;
}

.navbar a:hover {
  color: rgba(0, 0, 0, 0.601)
}