.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: right;
    border-right: 2px solid #5a5353;

}

.navbar li a {
  color: #000000;
  display: block;
  text-align: center;
  padding: 6px 10px;
  margin: 2px;
  text-decoration: none;
}

.navbar li a:hover {
  color: #00000066;
}

.navbar ul li:first-child {
  border-right: none;
}